<div>
    <!--<ul class="nav nav-tabs no-margin myTabBeauty">
        <li ng-class="sm.btClass" ng-click="sm.changeTab('bt');">
            <a ui-sref="sm.bt">银行类型</a>
        </li>
        <li ng-class="sm.mtClass" ng-click="sm.changeTab('mt');">
            <a ui-sref="sm.mt">商户类型</a>
        </li>
        <li ng-class="sm.cmClass" ng-click="sm.changeTab('cm');">
            <a ui-sref="sm.cm">客户端管理</a>
        </li>
        <li ng-class="sm.bmClass" ng-click="sm.changeTab('bm');">
            <a ui-sref="sm.bm">奖品管理</a>
        </li>,{text:'客户端管理',link:'cm'},{text:'奖品管理',link:'bm'}
    </ul>-->
    <tabbar tabs="[{text:'银行类型',link:'bt'},{text:'商户类型',link:'mt'},{text:'收付款设置',link:'cio'}];" index="6"></tabbar>

</div>
