<div class="navbar">
  <div class="maintitle">
    <!--<a class="brand" href="#">-->
    <img src="assets/images/logo.png" class="navbar-logo"/>
    <!--<span class="navbar-title">Payment Management System</span>-->
    <!--</a>-->
    <!--<a href="#editDevice" ng-click="vm.switch()" target="_self" type="submit" role="button" data-toggle="modal" data-original-title="" class="dropdown-toggle right" style="padding-top: 30px" role="button">-->
    <!--<span class="fs1" aria-hidden="true" data-icon="&#xe1cd;" ></span>-->
    <!--<label>{{$root.device.name}}</label>-->
    <!--</a>-->
    <ul class="nav pull-right" style="margin-top: 30px">
      <li class="dropdown" style="line-height: 30px">
        <a style="font-size: 15px;font-weight: normal;padding-top: 10px" data-toggle="dropdown" class="dropdown-toggle"
           role="button" id="drop1" data-original-title="">
          <span class="fs1" aria-hidden="true" data-icon="&#xe070;"></span>{{$root.lagconfig["用户"]}}:{{$root.username}} <span>{{$root.lagconfig["操作员"]}}:{{$root.user.account}}</span>
          <b class="caret" style="margin-top: 15px"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a tabindex="-1" data-original-title="" ng-click="vm.updatepwd()">{{$root.lagconfig['修改密码']}}</a>
          </li>
          <li>
            <a href="#/login" tabindex="-1" data-original-title="" target="_self" ng-click="vm.logout()">{{$root.lagconfig['登出']}}</a>
          </li>
        </ul>
      </li>
    </ul>
      <input class="no-margin" type="checkbox" ng-model="vm.openMore" ng-change="vm.setOpenmore()"/><span>{{$root.lagconfig["多窗口"]}}</span>
    <!--<img src="assets/images/people.png" style="padding-left: 450px"><span style="color:#288BE0;padding-left: 10px">{{$root.user.username}}</span>-->
      <click-button click="vm.getDefault" style="float: right" value="同步"></click-button>
  </div>
</div>
<div class="navbar navbar-static navbar-inverse  navbar-fixed-top" style="position: relative;height: 70px"
     ng-show="$root.authenticated">
  <div class="navbar-inner" style="min-width: 1200px">
    <div style="text-align: center;height: 69px">
      <ul class="nav" style="padding-top: 20px;display: inline-block;width: 1200px;margin: 0">
        <li style="width: 115px;text-align: center;height: 50px;margin: 0px;line-height: 30px"
            ng-repeat="item in vm.titles" ng-class="{acolor:vm.index == $index}" ng-click="vm.changeindex($index)"><a>{{item.content}}</a>
        </li>
      </ul>
      <!--<ul class="nav" style="padding-top: 10px">-->
      <!--<li ng-class="{acolor:vm.index == 0}" ng-click="vm.index = 0"><a href="#/user">{{$root.lagconfig['用户']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 1}" ng-click="vm.index = 1"><a href="#/bc">{{$root.lagconfig['银行卡']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 2}" ng-click="vm.index = 2"><a href="#/merchant">{{$root.lagconfig['商户号']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 3}" ng-click="vm.index = 3"><a href="#/deposit">{{$root.lagconfig['收款']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 4}" ng-click="vm.index = 4"><a href="#/cashin">{{$root.lagconfig['付款']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 5}" ng-click="vm.index = 5"><a href="#/cashin">{{$root.lagconfig['匹配单号']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 6}" ng-click="vm.index = 6"><a href="#">{{$root.lagconfig['报表']}}</a></li>-->
      <!--<li ng-class="{acolor:vm.index == 7}" ng-click="vm.index = 7"><a href="#/sm">{{$root.lagconfig['系统管理']}}</a></li>-->
      <!--</ul>-->

    </div>
  </div>
</div>
<!--<div ng-include="'app/components/navbar/updateDevice.html'"></div>-->
