<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->
<style>
  html,
  body {
    background: #fff;
  }
</style>
<!--<div class="log_head cle">-->
  <!--<img src="assets/images/img5.jpg" class="fl"/>-->
<!--</div>-->

<div class="log_warp" id="queryLogin">
  <img src="assets/images/loginicon.png" style=" float: left;margin-top: 100px;margin-left: 200px;background: transparent;"/>
  <div class="w_1200 cle">
    <div class="form fr">
      <div class="title">
        请登录
      </div>

      <div class="list">
        <input type="text" class="inputtext" placeholder="账户..." ng-model="tologin.user.loginName"/>
      </div>

      <div class="list">
        <input type="password" class="inputtext" placeholder="密码..." ng-model="tologin.user.password"/>
      </div>
      <div class="but">
        <input type="button" ng-click="tologin.login()" style="font-size: 15px" value="登 录"/>
      </div>
    </div>
  </div>
</div>

<!--</body>-->

<!--</html>-->
